@import "variable";
@import "mixins";

body {
  background-color: $bgc;
  color: $btn-text-color;
}

h2 {
  text-transform: uppercase;
  text-align: left;
  font-weight: 800;
  font-size: 1.5rem;
  color: $content-title;
  overflow-wrap: break-word;
}

p {
  color: $content-color;
  font-size: clamp(1rem, 3vw, 2rem);
  text-align: left;
  padding-right: 1rem;
}

.btn-shop {
  color: $btn-text-color;
  background-color: $btnColor;
  border: none;
  border-radius: 5px;
  padding: 1.2rem 0;
  width: 14rem;
  height: 4rem;
  text-align: center;
  text-wrap: nowrap;
  font-size: 1rem;
}

@include mqMin(850px) {
  .slide-title {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }
}

@include mqMin(1000px) {
  .slide-title {
    font-size: 3rem;
  }

  p {
    font-size: 2.5rem;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: $btnColor;
  background-clip: border-box;
  border-radius: 50%;
  width: 15px;
  margin: 0 6px;
  border-bottom: 3px solid transparent;
}

.carousel-caption {
  position: absolute;
  max-height: max-content;
  top: 2.5rem;
  right: 0;
  left: 60%;
  padding: 1.5rem 0rem 2rem 2rem;
  color: #454545;
  background: #dcdcdcb5;
  text-align: center;
  text-transform: uppercase;
}

.slide-content {
  text-transform: none;
}

.col img {
  order: 2;
}

.col h4 {
  order: 1;
}

@include mqMin(446px) {
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e68e00' width='80' height='80'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z' stroke='%23e68e00' stroke-width='2'/%3e%3c/svg%3e");
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e68e00' width='80' height='80'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' stroke='%23e68e00' stroke-width='2'/%3e%3c/svg%3e");
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .bs-show {
    flex-direction: column;
  }

  .col img {
    order: 1;
  }

  .col h4 {
    order: 2;
  }
}
