// Define FontAwesome mixin for arrow icons
@mixin font-awesome-arrow(
  $unicode,
  $color: $font-awesome-arrow-color,
  $size: $font-awesome-arrow-size
) {
  content: $unicode;
  font-family: "FontAwesome";
  font-size: $size;
  color: $color;
  font-weight: 100;
}

// Define mixin for common styles in the logo slider
@mixin logo-slider-styles {
  margin: 20px 0;
  img {
    width: 100%;
    height: auto;
  }
  .slick-slide {
    margin: 0 2em;
    padding-top: 20px;
  }
}

// Title styles
@mixin title-styles {
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  margin: 0 0 1em 0;
  color: $content-color;
  text-transform: uppercase;
}
