// desktop 端，以及一些style
// flex里的各个格子，将他们的位置作为母级
.items{
    position: relative;
}
.items p{
  font-size: 1.25rem;
  color: white;
}
.items h2{
  color: white;
}
.new-section{
  padding-top: 4.25rem;
}


    
    
    
    

    
// 右边的商品介绍栏
.box{
    border:solid black 1px ;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: auto;
    margin: auto;
    height: max-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
};
// 只有最下面的那个是不一样的，所以把box给去掉了
.our-story{
    background-color: initial;
    border: none;
    text-align: center;
    max-width: 70%;
    right: 0;
    left: 0;
}
.our-story p{
    font-size: 1.2rem;
}
// 把手机的图片以及平板的图片隐藏
.mobile{
    display: none;
}
.tablet{
    display: none;
}

// ----------------------------------------------------
// 手机端
@media (max-width: 32.8125rem){
    // 显示手机端图片
    .mobile-phone{
        display: block;
        

    }
    .desktop{
        display:none;
    }
    // 这是图片上的暗色幕布的container
    .image-container-dale {
        position: relative;
      }
    //   这是chatgpt出来的幕布效果
      .image-container-dale::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5); /* 这里的 rgba 控制蒙版的颜色和透明度 */
      }
      
      /* 图片样式 */
      .image-container-dale img {
        display: block;
        width: 100%; /* 保证图片充满容器 */
        height: auto; /* 保持宽高比 */
      }
// ------------------------------------
// 手机端的商品介绍栏是不一样的样式
      .box{
        background-color: initial;
        border: none;
        top: 0;
        bottom: initial;
        right: initial;
      }
    //   最下面的那一给商品的样式
      .our-story{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-width: 100%;
      }

    }
// 最下面商品的样式有3个图片，分别是平板，电脑，以及手机。
    @media (min-width: 32.8125rem) and (max-width: 50rem){
        .tablet{
            display: block;
        }
        .story-desktop{
            display: none;
        
        }
        .story-mobile{
            display: none;
        }
    }