// _shoproom.scss

// Import variables and mixins
@import "variable";
@import "mixins";

.image-container {
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.image-container h5 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  word-wrap: break-word;
  text-transform: uppercase;
  color: $bgc;
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
}
// Shop Room styles
.shop-room {
  @include logo-slider-styles;

  .slick-next::before {
    @include font-awesome-arrow("\f105");
  }

  .slick-prev::before {
    @include font-awesome-arrow("\f104");
  }

  // Other Shop Room styles
  @include mqMax(576px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 1000px;

    > div {
      flex: 1 0 50%;
      box-sizing: border-box;
      padding: 1rem;
    }
  }
}
.title {
  @include title-styles;
}
