@use "mixins" as *;

@mixin font-awesome-arrow($unicode, $color: #fc851e, $size: 40px) {
  content: $unicode;
  font-family: "FontAwesome";
  font-size: $size;
  color: $color;
  font-weight: 100;
}

// Define mixin for common styles in the logo slider
@mixin logo-slider-styles {
  margin: 20px 0;
  img {
    width: 100%;
    height: auto;
  }
  .slick-slide {
    margin: 0 2em;
    padding-top: 20px;
  }
}

.logo-slider {
  @include logo-slider-styles;
}

.logo-slider .slick-next::before {
  @include font-awesome-arrow("\f105");
}

.logo-slider .slick-prev::before {
  @include font-awesome-arrow("\f104");
}

@include mqMax(576px) {
  .logo-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
  }
}
