@use "variable";
@use "navbar";
@use "bestsellers";
@use "slider-news";
@use "newsections.scss";
@use "video";
@use "footer";
@use "banner";
@use "shoproom";
@use "mixins";

@import "variable";

body {
  background-color: $bgc;
  font-size: 1.5rem;
  color: $textC;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
